<div class="propietarios-page">

  <div class="page-header">

    <div>

      <h1>
        Propietarios
      </h1>

      <p>
        Gestión de propietarios registrados en VetCare Web.
      </p>

    </div>


    <a
      routerLink="/propietarios/nuevo"
      class="primary-button"
    >
      + Nuevo propietario
    </a>

  </div>


  <section class="content-card">

    <div class="toolbar">

      <div class="search-box">

        <span>
          ⌕
        </span>

        <input
          type="text"
          [(ngModel)]="busqueda"
          placeholder="Buscar por nombre, DNI o teléfono"
        />

      </div>

    </div>


    <div class="table-container">

      <table>

        <thead>

          <tr>
            <th>DNI</th>
            <th>Propietario</th>
            <th>Teléfono</th>
            <th>Correo electrónico</th>
            <th>Mascotas</th>
            <th>Acciones</th>
          </tr>

        </thead>


        <tbody>

          @for (
            propietario of propietarios;
            track propietario.id
          ) {

            <tr>

              <td>
                {{ propietario.dni }}
              </td>


              <td>

                <strong>
                  {{ propietario.nombres }}
                </strong>

              </td>


              <td>
                {{ propietario.telefono }}
              </td>


              <td>
                {{ propietario.correo }}
              </td>


              <td>

                <span class="pet-count">
                  {{
                    cantidadMascotas(
                      propietario
                    )
                  }}
                </span>

              </td>


              <td>

                <a
                  [routerLink]="[
                    '/propietarios',
                    propietario.id,
                    'editar'
                  ]"
                  class="action-button"
                >
                  Editar
                </a>

              </td>

            </tr>

          }


          @if (
            propietarios.length === 0
          ) {

            <tr>

              <td
                colspan="6"
                class="empty-message"
              >
                No se encontraron propietarios.
              </td>

            </tr>

          }

        </tbody>

      </table>

    </div>

  </section>

</div>